// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.container form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;

  & input {
    margin-bottom: 2rem;
    width: 50%;
  }
}

.user {
  top:15px;
}


